# Created by https://www.toptal.com/developers/gitignore/api/angular,node
# Edit at https://www.toptal.com/developers/gitignore?templates=angular,node

### Angular ###
## Angular ##
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.id